.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 0 10% 0 10%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.block_item {
    /* display: inline-flex; */
    padding: 20px;
    max-width: 1170px;

}

.square {
    height: 100px;
    width: 100px;
    background-color: green;
}

.rectangle {
    height: 100px;
    width: 200px;
    background-color: green;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

.oval {
    height: 100px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
}

.triangle-up {
    width: 0;
    height: 0;
    border-bottom: 100px solid green;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;

}

.triangle-down {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.triangle-left {
    width: 0;
    height: 0;
    border-right: 100px solid green;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

.triangle-right {
    width: 0;
    height: 0;
    border-left: 100px solid green;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

.parallelogram {
    height: 100px;
    width: 100px;
    background-color: green;
    transform: skew(15deg);
}

.trapezoid {
    width: 100px;
    border-bottom: 100px solid green;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.triangle-top-left {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-right: 100px solid transparent;
}

.triangle-top-right {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-left: 100px solid transparent;
}

.triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 100px solid green;
    border-right: 100px solid transparent;
}

.triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 100px solid green;
    border-left: 100px solid transparent;
}

.dialog {
    max-width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 10%;
    padding: 10px;
}

.dialog::before {
    content: '';

    position: relative;
    top: 113%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 20px solid green;
    border-left: 20px solid transparent;
}